<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salwa.salwa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/salwa_logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Salwa">
        <activity android:name=".homepage.ui.account.view_order.ViewOrderActivity"></activity>
        <activity android:name=".homepage.ui.account.select_product.SelectProductActivity" />
        <activity android:name=".homepage.ui.account.ShopActivity" />
        <activity
            android:name=".homepage.ui.account.CreateShopUnderReviewActivity"
            android:theme="@style/Theme.Salwa2" />
        <activity android:name=".homepage.ui.account.CreateShopActivity" />
        <activity android:name=".homepage.ui.account.ChangePasswordActivity" />
        <activity android:name=".homepage.ui.delivery.DetailDeliveryActivity" />
        <activity android:name=".homepage.ui.home.UpdateProductActivity" />
        <activity android:name=".homepage.ui.order.DetailOrderActivity" />
        <activity android:name=".homepage.ui.cart.DetailCartActivity" />
        <activity android:name=".homepage.ui.home.ReviewProductActivity" />
        <activity android:name=".homepage.ui.home.DetailProductActivity" />
        <activity android:name=".homepage.ui.home.AddProductActivity" />
        <activity
            android:name=".homepage.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.Salwa2" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Salwa2" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Salwa2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>